<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
    DIREITOS
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Accordion Group -->
  <ion-accordion-group [multiple]="true">
    <!-- Seção 1 -->
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Direitos à Saúde</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <p>
          DIREITO AO DIAGNÓSTICO PRECOCE
        </p>

        <p>
          Descrição: A pessoa com autismo tem direito ao diagnóstico precoce para possibilitar um tratamento adequado desde as primeiras fases de vida.
        </p>
        <p>
          Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          DIREITO AO ACESSO A TRATAMENTO MÉDICO ESPECIALIZADO
        </p>

        <p>
          Descrição: Garantia de acesso ao tratamento médico especializado, incluindo acompanhamento psicológico, fonoaudiologia, terapia ocupacional, e outros serviços de saúde.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          DIREITO A ATENDIMENTO MULTIDISCIPLINAR
        </p>

        <p>
          Descrição: O tratamento do autismo deve ser realizado de forma integrada, com o envolvimento de diversos profissionais, como médicos, psicólogos, fonoaudiólogos, terapeutas ocupacionais, entre outros.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          DIREITO AO ACESSO A MEDICAMENTOS
        </p>

        <p>
          Descrição: Acesso a medicamentos essenciais para o controle dos sintomas do autismo e de comorbidades associadas.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          TRATAMENTO INTEGRAL E PERSONALIZADO
        </p>

        <p>
          Descrição: Garantia de tratamento completo, que engloba cuidados médicos, terapias, acompanhamento psicológico e apoio social.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          DIREITO A ACOMPANHAMENTO CONTÍNUO
        </p>

        <p>
          Descrição: A pessoa com autismo tem direito ao acompanhamento médico e terapêutico contínuo, sem interrupções, durante todo o seu desenvolvimento.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          ATENÇÃO PRIORITÁRIA NOS SERVIÇOS DE SAÚDE
        </p>

        <p>
          Descrição: Prioridade no atendimento nos serviços públicos e privados de saúde, incluindo consultas, exames e outros procedimentos.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Estatuto da Criança e do Adolescente (ECA) – Lei nº 8.069/1990.
        </p>

        <p>
          DIREITO AO ATENDIMENTO ESPECIALIZADO NO SUS
        </p>

        <p>
          Descrição: O Sistema Único de Saúde (SUS) deve garantir acesso gratuito ao diagnóstico, tratamento e acompanhamento médico para pessoas com autismo.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          ACESSO A SERVIÇOS DE REABILITAÇÃO
        </p>

        <p>
          Descrição: Acesso a serviços de reabilitação, incluindo terapias ocupacionais, fonoaudiologia, fisioterapia e psicoterapia, visando a integração social e funcional.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          APOIO PSICOSSOCIAL PARA FAMILIARES
        </p>

        <p>
          Descrição: Acesso a programas de apoio e orientação psicológica para os familiares de pessoas com autismo, a fim de promover um manejo adequado do transtorno.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          DIREITO À EDUCAÇÂO EM SAÚDE
        </p>

        <p>
          Descrição: Garantia de programas educativos sobre o autismo, seus tratamentos e estratégias de adaptação, tanto para familiares quanto para profissionais da saúde.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          PLANO TERAPÊUTICO INDIVIDUALIZADO
        </p>

        <p>
          Descrição: Direito de cada pessoa com autismo a um plano terapêutico individualizado, elaborado com base nas suas necessidades específicas.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          ACOMPANHAMENTO PSIQUIÁTRICO
        </p>

        <p>
          Descrição: Acesso a acompanhamento psiquiátrico especializado, especialmente quando houver comorbidades psíquicas, como transtornos de ansiedade, depressão, etc.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          SERVIÇOS DE FONOAUDIOLOGIA
        </p>

        <p>
          Descrição: Acesso a fonoaudiologia para o tratamento de questões de comunicação, linguagem e fala, que são frequentemente afetadas no autismo.
        </p>
        <p>
          Lei Aplicável: Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          ATENDIMENTO EM EMERGÊNCIAS
        </p>

        <p>
          Descrição: Acesso a um atendimento especializado em situações de emergência, com adaptações para o tratamento adequado da pessoa com autismo.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Estatuto da Criança e do Adolescente (ECA) – Lei nº 8.069/1990.
        </p>

        <p>
          COBERTURA PELOS PLANOS DE SAÚDE
        </p>

        <p>
          Descrição: A obrigatoriedade dos planos de saúde de cobrir o tratamento do autismo, incluindo terapias, consultas, exames e medicamentos necessários.
        </p>
        <p>
          Lei Aplicável: Lei nº 9.656/1998 – Lei dos Planos de Saúde; Lei nº 12.764/2012 (Art. 2º) – Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista.
        </p>

        <p>
          ACESSIBILIDADE NAS UNIDADES D SAÚDE
        </p>

        <p>
          Descrição: Garantia de acessibilidade nos estabelecimentos de saúde, com adaptações para o atendimento adequado de pessoas com deficiência, incluindo aquelas com autismo.
        </p>
        <p>
          Lei Aplicável: Lei nº 10.098/2000 – Lei de Acessibilidade; Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          TRANSPORTE ACESSIVEL
        </p>

        <p>
          Descrição: Direito ao transporte público adaptado e gratuito ou com desconto, para garantir o acesso ao atendimento de saúde e outros serviços essenciais.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência; Lei nº 8.989/1995 – Lei de Transporte Gratuito para Pessoas com Deficiência.
        </p>

        <p>
          ASSISTÊNCIA SOCIAL
        </p>

        <p>
          Descrição: A pessoa com autismo tem direito à inclusão em programas de assistência social, incluindo o Benefício de Prestação Continuada (BPC), quando em situação de vulnerabilidade.
        </p>
        <p>
          Lei Aplicável: Lei nº 8.742/1993 – Lei Orgânica da Assistência Social (LOAS); Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>

        <p>
          PARTICIPAÇÃO EM PESQUISAS CIENTÍFICAS
        </p>

        <p>
          Descrição: Garantia de participação de pessoas com autismo em pesquisas científicas, com devida ética e autorização dos responsáveis.
        </p>
        <p>
          Lei Aplicável: Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Direitos à Educação</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <p>
          DIREITO AO ACESSO À EDUCAÇÂO
        </p>

        <p>
          Descrição: Garantia do direito de todas as pessoas com TEA ao acesso à educação, em todos os níveis e modalidades, com adaptações e apoio especializado quando necessário.
        </p>
        <p>
          Lei Aplicável:Constituição Federal de 1988 (Art. 205 e Art. 208) – Estabelece que a educação é um direito de todos e dever do Estado e da família, assegurando a educação básica obrigatória e gratuita, inclusive para as pessoas com deficiência.
        </p>
        <p>
          Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante que pessoas com deficiência, incluindo o TEA, tenham direito à educação inclusiva.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 4º, Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Determina que a educação deve ser inclusiva, assegurando o atendimento especializado a alunos com necessidades educacionais especiais.
        </p>

        <p>
          DIREITO À EDUCAÇÂO INCLUSIVA
        </p>

        <p>
          Descrição: A educação deve ser oferecida de forma inclusiva, ou seja, a pessoa com TEA deve ser inserida no sistema educacional regular com as devidas adaptações e apoio.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante educação inclusiva e a eliminação de barreiras que possam prejudicar o acesso, a permanência e a participação do estudante com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Estabelece que alunos com necessidades especiais sejam atendidos preferencialmente nas escolas regulares, com os apoios necessários.
        </p>

        <p>
          DIREITO À EDUCAÇÂO ESPECIAL
        </p>

        <p>
          Descrição: A pessoa com TEA tem direito a uma educação especial, caso necessário, com acompanhamento especializado, mas sempre preferencialmente em ambiente educacional regular.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Estabelece que a educação para pessoas com deficiência, incluindo o TEA, deve ser oferecida de maneira adequada, em escolas regulares ou em serviços especializados quando necessário.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Estabelece que as escolas devem fornecer atendimento educacional especializado para alunos com deficiências, respeitando a educação inclusiva.
        </p>

        <p>
          DIREITO AO ATENDIMENTO EDUCACIONAL ESPECIALIZADO(AEE)
        </p>

        <p>
          Descrição: Garantia do direito ao Atendimento Educacional Especializado (AEE) para pessoas com TEA, com apoio especializado, materiais didáticos adaptados e apoio pedagógico.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o AEE para pessoas com deficiência, incluindo aquelas com TEA.
        </p>
        <p>
          Resolução CNE/CEB nº 2/2001 – Determina as normas e diretrizes para o AEE, destacando a importância da inclusão e adaptação das práticas pedagógicas.
        </p>

        <p>
          DIREITO AO ACOMPANHAMENTO PEDAGÓGICO E PSICOPEDAGÓGICO
        </p>

        <p>
          Descrição: A pessoa com TEA deve ter acesso ao acompanhamento pedagógico, psicopedagógico e apoio psicológico para promover seu desenvolvimento cognitivo e social na escola.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Estabelece o direito ao acompanhamento pedagógico adequado para os alunos com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Determina a necessidade de apoio especializado, inclusive psicológico, para alunos com necessidades especiais.
        </p>

        <p>
          DIREITO À FORMAÇÂO DE PROFESSORES
        </p>

        <p>
          Descrição: Garantia de formação específica para os profissionais da educação, incluindo professores, para que possam atender de maneira eficaz os alunos com TEA, promovendo a inclusão.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Estabelece que os profissionais da educação devem ser preparados para a inclusão de alunos com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 66) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Preconiza a formação contínua e especializada de profissionais da educação.
        </p>

        <p>
          DIREITO À PARTICIPAÇÃO EM ATIVIDADES ESTRACURRICULARES
        </p>

        <p>
          Descrição: O estudante com TEA tem o direito de participar de atividades extracurriculares, culturais, esportivas e de lazer, de forma integrada aos demais alunos.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o direito à participação plena e igualitária nas atividades escolares, incluindo as extracurriculares.
        </p>

        <p>
          DIREITO À AVAIAÇÂO EDUCACIONAL ADEQUADA
        </p>

        <p>
          Descrição: O aluno com TEA deve ser avaliado de acordo com suas necessidades, com adaptações nas avaliações, de modo que não seja prejudicado pela sua condição.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante a avaliação educacional de forma acessível e adaptada às necessidades do aluno com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Determina que a avaliação dos alunos com deficiência deve ser adaptada para que suas dificuldades não interfiram no processo de aprendizagem.
        </p>

        <p>
          DIREITO AO TRANSPORTE ESCOLAR
        </p>

        <p>
          Descrição: Garantia de acesso ao transporte escolar adequado, com adaptações quando necessário, para que o aluno com TEA possa frequentar a escola de forma segura e independente.
        </p>
        <p>
          Lei Aplicável:
Lei nº 10.098/2000 (Art. 4º) – Lei de Acessibilidade: Garante o direito ao transporte acessível para pessoas com deficiência.
        </p>
        <p>
          Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o transporte acessível e adequado para estudantes com deficiência.
        </p>

        <p>
          DIREITO AO ATENDIMENTO INDIVIDUALIZADO
        </p>

        <p>
          Descrição: O aluno com TEA tem o direito ao atendimento individualizado, com a adequação do currículo e metodologias de ensino que atendam às suas necessidades específicas, respeitando seu ritmo de aprendizagem.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o direito ao atendimento educacional especializado e individualizado para alunos com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 58) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Determina que a educação deve ser personalizada para atender às especificidades dos alunos com deficiência.
        </p>

        <p>
          DIREITO À COMUNICAÇÂO ALTERNATIVA
        </p>

        <p>
          Descrição: A pessoa com TEA tem o direito a métodos de comunicação alternativos, quando necessário, como o uso de sistemas de comunicação aumentativa e alternativa (CAA), facilitando a expressão e interação.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o direito ao uso de tecnologias assistivas e sistemas de comunicação para pessoas com deficiência.
        </p>
        <p>
          Decreto nº 9.434/2018 (Art. 3º) – Estabelece diretrizes para o uso de tecnologias assistivas e comunicação alternativa.
        </p>

        <p>
          DIREITO AO ACOMPANHAMENTO DE FAMILIARES
        </p>

        <p>
          Descrição: A educação deve envolver a família do aluno com TEA, promovendo o acompanhamento familiar durante o processo educacional, assegurando um suporte contínuo e integrado.
        </p>
        <p>
          Lei Aplicável:
Lei nº 13.146/2015 (Art. 28) – Lei Brasileira de Inclusão da Pessoa com Deficiência (LBI): Garante o apoio das famílias no processo educacional dos alunos com deficiência.
        </p>
        <p>
          Lei nº 9.394/1996 (Art. 12) – Lei de Diretrizes e Bases da Educação Nacional (LDB): Assegura a participação da família na educação dos alunos com necessidades especiais.
        </p>

      </div>
    </ion-accordion>

    <!-- Seção 3 -->
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Direitos de Trabalho</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <p>
          LEI DE COTAS
        </p>

        <p>
          Lei nº 8.213/1991
        </p>
        <p>
          Descrição: Estabelece que empresas com 100 ou mais empregados devem contratar pessoas com deficiência, incluindo autistas. A quantidade de vagas varia conforme o número total de empregados da empresa, com uma porcentagem das vagas reservada para pessoas com deficiência.
        </p>

        <p>
          DIREITOS CONTRA A DISCRIMINAÇÂO NO MERCADO DE TRABALHO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: Proíbe qualquer tipo de discriminação no processo seletivo e nas condições de trabalho. Garante que as pessoas com deficiência, incluindo autistas, tenham igualdade de oportunidades no mercado de trabalho, podendo receber adaptações para as funções e ambientes de trabalho.
        </p>

        <p>
          ACESSIBILIDADE NO LOCAL DE TRABALHO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: Exige que os empregadores implementem medidas de acessibilidade nos locais de trabalho, como rampas, banheiros adaptados e a adaptação das funções ou horários, se necessário, para pessoas com deficiência, incluindo autistas.
        </p>

        <p>
          DIREITO AO SALÁRIO IGUALITÁRIO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: Garante que pessoas com deficiência, incluindo autistas, recebam o mesmo salário que outros trabalhadores que exerçam as mesmas funções e possuam as mesmas qualificações.
        </p>

        <p>
          ADAPTAÇÃO DE TAREFAS E CONDIÇÕES DE TRABALHO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: Os empregadores devem adaptar as condições de trabalho e as tarefas para atender às necessidades dos trabalhadores com deficiência, incluindo os autistas, para garantir que possam desempenhar suas funções adequadamente.
        </p>

        <p>
          PROTEÇÃO CONTRA DISCRIMINAÇÃO EM PROCESSO SELETIVO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: A pessoa com autismo tem direito de ser tratada de forma justa durante os processos seletivos, sendo proibida a discriminação no recrutamento, seleção, promoção e condições de trabalho.
        </p>

        <p>
          AUXÍLIO-DOENÇA E APESENTADORIA POR INVALIDEZ
        </p>

        <p>
          Lei nº 8.213/1991
        </p>
        <p>
          Descrição: Pessoas com deficiência, incluindo autistas, têm direito ao auxílio-doença e à aposentadoria por invalidez caso a deficiência comprometa sua capacidade de trabalho de forma permanente ou temporária.
        </p>

        <p>
          LICENÇA MATERNIDADE E PATERNIDADE
        </p>

        <p>
          Lei nº 8.213/1991 e Lei nº 13.257/2016
        </p>
        <p>
          Descrição: Os pais de crianças com deficiência, incluindo autismo, têm direito à licença-maternidade ou licença-paternidade, com a possibilidade de ampliação da licença para cuidar de crianças com necessidades especiais.
        </p>

        <p>
          APOSENTADORIA ESPECIAL
        </p>

        <p>
          Lei nº 8.213/1991
        </p>
        <p>
          Descrição: Pessoas com autismo que apresentem condições de saúde que comprometam significativamente sua capacidade laboral podem ter direito à aposentadoria especial, com menos tempo de contribuição.
        </p>

        <p>
          PROGRAMA DE QUALIFICAÇÃO PROFISSIONAL
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: O Estado e as empresas devem incentivar a qualificação profissional das pessoas com deficiência, incluindo autistas, para aumentar suas chances de inserção no mercado de trabalho.
        </p>

        <p>
          PRIORIDADE NO ATENDIMENTO EM SERVIÇOS PÚBLICOS E PRIVADOS
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: Pessoas com deficiência, incluindo os autistas, têm direito à prioridade no atendimento em serviços públicos e privados, como em filas, consultas, e outros atendimentos.
        </p>

        <p>
          DIREITO AO TRANSPORTE ACESSÍVEL
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <p>
          Descrição: As pessoas com deficiência, incluindo autistas, devem ter acesso a transporte público acessível, com adaptações para atender suas necessidades de mobilidade.
        </p>

        <p>
          BENEFÍCIO DE PRESTÇÃO CONTINUADA(BPC/LOAS)
        </p>

        <p>
          Lei nº 8.742/1993 (Lei Orgânica da Assistência Social - LOAS)
        </p>
        <p>
          Descrição: O Benefício de Prestação Continuada (BPC) garante um salário mínimo mensal para pessoas com deficiência, como os autistas, que não têm meios de prover sua própria manutenção nem por meio de sua família.
        </p>

        <p>
          DIREITO À REABILITAÇÃO PROFISSIONAL
        </p>

        <p>
          Lei nº 8.213/1991
        </p>
        <p>
          Descrição: As pessoas com deficiência têm direito à reabilitação profissional para sua reintegração ao mercado de trabalho, podendo ter acesso a cursos e programas de capacitação para melhorar suas habilidades e empregabilidade.
        </p>

        <p>
          ACESSO AO SEGURO DESEMPREGO
        </p>

        <p>
          Lei nº 7.998/1990
        </p>
        <p>
          Descrição: As pessoas com deficiência, incluindo os autistas, têm direito ao seguro-desemprego em caso de demissão sem justa causa, desde que atendam aos requisitos exigidos pela legislação.
        </p>

        <p>
          DIREITO AO ATENDIMENTO PSICOSSOCIAL
        </p>

        <p>
          Lei nº 12.764/2012
        </p>
        <p>
          O Sistema Único de Assistência Social (SUAS) deve garantir o acesso ao atendimento psicossocial adequado para as pessoas com autismo, visando o desenvolvimento de habilidades para a inclusão social e laboral.
        </p>

        <p>
          DIREITO À INCLUSÃO EM PROGRAMAS DE ESTÁGIO
        </p>

        <p>
          Lei nº 11.788/2008 (Lei do Estágio)
        </p>
        <p>
          Descrição: Pessoas com deficiência, incluindo os autistas, têm direito a participar de programas de estágio com as devidas adaptações necessárias para garantir a inclusão e o aprendizado no ambiente de trabalho.
        </p>

        <p>
          DIREITO A AUXÍLIO E APOIO NO AMBIENTE DE TRABALHO
        </p>

        <p>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </p>
        <P>
          Descrição: O empregador deve oferecer apoio especializado no ambiente de trabalho, como a presença de um assistente ou adaptações nos processos, para garantir que o trabalhador com deficiência, incluindo o autista, desempenhe suas funções adequadamente.
        </P>

        <P>
          DIREITO À EQUIDADE DE PROMOÇÃO
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: As pessoas com deficiência têm o direito de serem promovidas de forma equitativa, sem discriminação por sua condição, assegurando o acesso igualitário a cargos superiores e aumentos salariais.
        </P>

        <P>
          DIREITO À COMUNICAÇÃO ACESSÍVEL
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: O empregador deve garantir acessibilidade comunicacional para os trabalhadores com deficiência, incluindo autistas, oferecendo adaptações na comunicação, como linguagem de sinais, recursos visuais, ou outras formas que atendam às necessidades de cada indivíduo.
        </P>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-label>Direito à Convivência Familiar e Comunitária</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <p>
          DIREITO À CONVIVÊNCIA FAMILIAR E COMUNITÁRIA
        </p>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: Garante que as pessoas com deficiência, incluindo autistas, tenham o direito de viver no seio familiar, sem segregação, e possam participar plenamente da vida comunitária, com acesso a atividades sociais, culturais e de lazer, respeitando suas necessidades e peculiaridades.
        </P>

        <P>
          PROTEÇÃO CONTRA A INSTITUCIONALIZAÇÃO FORÇADA
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: As pessoas com autismo têm o direito de não ser separadas de suas famílias de maneira forçada, garantindo que a convivência familiar seja mantida, sempre que possível, mesmo em casos de necessidades específicas de cuidados.
        </P>

        <P>
          GARANTIA DE PARTICIPAÇÃO EM ATIVIDADES COMUNITÁRIAS
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: A legislação assegura que pessoas com deficiência, incluindo os autistas, possam participar de atividades comunitárias, sociais e culturais, de acordo com suas necessidades, promovendo sua inclusão e interação com a sociedade.
        </P>

        <P>
          DIREITO AO ACOMPANHAMENTO FAMILIAR
        </P>

        <P>
          Lei nº 13.257/2016 (Marco Legal da Primeira Infância)
        </P>
        <P>
          Descrição: A lei assegura que os familiares de crianças com autismo recebam suporte e acompanhamento adequado, como orientação e treinamento, para garantir o melhor desenvolvimento e convivência familiar, além de proporcionar os recursos necessários para o cuidado da criança.
        </P>

        <P>
          DIREITO À INCLUSÃO EM PROGRAMAS DE ATENDIMENTO FAMILIAR E COMUNITÁRIO
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: As políticas públicas devem garantir que pessoas com TEA possam ser incluídas em programas que promovam sua integração familiar e comunitária, com apoio em áreas como saúde, educação e assistência social.
        </P>

        <P>
          DIREITO À PROTEÇÃO CONTRA A DRIMINAÇÃO FAMILIAR
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: Garante que as pessoas com autismo, assim como suas famílias, sejam protegidas de qualquer tipo de discriminação ou preconceito que possa prejudicar sua convivência familiar e social, assegurando igualdade de direitos em todas as esferas da vida.
        </P>

        <P>
          DIREITO À EDUCAÇÃO FAMILIAR
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: A família tem direito a receber orientação e educação sobre o TEA, para proporcionar um ambiente familiar que favoreça o desenvolvimento adequado da pessoa com autismo, promovendo a convivência harmoniosa e o bem-estar.
        </P>

        <P>
          DIREITO AO APOIO DE PROFISSIONAS NO AMBIENTE FAMILIAR
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: O Estado deve garantir que as famílias de pessoas com autismo tenham acesso ao apoio de profissionais especializados, como terapeutas e psicólogos, para ajudar na integração da pessoa com autismo no núcleo familiar e na sociedade.
        </P>

        <P>
          DIREITO AO SUPORTE PARA INCLUSÃO SOCIAL
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: A lei assegura que as famílias de pessoas com autismo recebam suporte e recursos para garantir a inclusão social da pessoa com autismo, oferecendo oportunidades para que participem de atividades fora do ambiente familiar, como esportes, lazer e cultura.
        </P>

        <P>
          GARANTIA DE BEM-ESTAR SOCIAL E FAMILIAR
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: A legislação assegura que o bem-estar familiar e social da pessoa com deficiência, incluindo os autistas, seja protegido, através de políticas públicas e iniciativas que garantam um ambiente de apoio e inclusão para todos os membros da família.
        </P>

        <P>
          DIREITO À CONVIVÊNCIA COMUNITÁRIA
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: Garante que as pessoas com deficiência, incluindo os autistas, possam participar de atividades de lazer, culturais e sociais, respeitando suas necessidades, promovendo a convivência comunitária e evitando qualquer forma de segregação.
        </P>

        <P>
          DIREITO À IGUALDADE DE OPORTUNIDADES NAS ATIVIDADE SOCIAIS
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: As pessoas com autismo têm direito à igualdade de oportunidades nas atividades sociais, como eventos culturais, esportivos, religiosos e recreativos, com a devida adaptação e acessibilidade para sua plena participação.
        </P>

        <P>
          DIREITO AO ACOMPANHAMENTO DE FAMILIARES EM SERVIÇOS DE SAÚDE
        </P>

        <P>
          Lei nº 13.257/2016 (Marco Legal da Primeira Infância)
        </P>
        <P>
          Descrição: As famílias de crianças com autismo têm direito a acompanhar seus filhos em serviços de saúde e terapias, recebendo orientação para a promoção de uma convivência familiar mais saudável e a melhoria no desenvolvimento da criança com TEA.
        </P>

        <P>
          APOIO PARA INCLUSÃO DE AUTISTAS EM PROGRAMAS CULTURAIS
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: A legislação assegura que os programas culturais, como atividades artísticas e eventos públicos, sejam acessíveis e inclusivos para pessoas com autismo, com adaptações necessárias para garantir sua plena participação e envolvimento.
        </P>

        <P>
          DIREITO À PARTICIPAÇÃO E PROGRAMAS DE VOLUNTARIADO E ATIVIDADES COMUNITÁRIAS
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: Pessoas com autismo têm o direito de participar de programas de voluntariado e atividades comunitárias, com as devidas adaptações para garantir que possam contribuir para a comunidade, respeitando suas limitações e necessidades.
        </P>

        <P>
          DIREITO AO APOIO PARA FORTALECIMENTO DOS LAÇOS FAMILIARES
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: O Estado deve garantir apoio e serviços especializados para as famílias de pessoas com autismo, com o objetivo de fortalecer os laços familiares e proporcionar melhores condições de convivência.
        </P>

        <P>
          GARANTIA DE ATENDIMENTO PSICOEDUCACIONAL PARA FAMÍLIA
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: Garante que as famílias de pessoas com autismo tenham acesso a atendimentos psicoeducacionais que promovam a conscientização sobre o autismo e ajudem na adaptação do ambiente familiar e comunitário para a pessoa com TEA.
        </P>

        <P>
          DIREITO À CONVIVÊNCIA COM OUTROS GRUPOS DE APOIO
        </P>

        <P>
          Lei nº 12.764/2012 (Lei da Política Nacional de Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista)
        </P>
        <P>
          Descrição: Pessoas com autismo têm direito à integração com grupos de apoio e associações de pessoas com deficiência, promovendo a troca de experiências e aumentando as oportunidades de convivência social.
        </P>

        <P>
          DIREITO À PARTICIPAÇÃO EM EVENTOS ESPORTIVOS ADAPTADOS
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: Pessoas com autismo têm o direito de participar de eventos esportivos adaptados, com recursos adequados para garantir a inclusão de pessoas com deficiência em atividades físicas, esportivas e recreativas.
        </P>

        <P>
          DIREITO À PROTEÇÃO DE SEUS DIREITOS NA CONVIVÊNCIA FAMILIAR
        </P>

        <P>
          Lei nº 13.146/2015 (Estatuto da Pessoa com Deficiência)
        </P>
        <P>
          Descrição: A legislação garante que os direitos das pessoas com autismo sejam respeitados no contexto familiar, assegurando que a convivência familiar ocorra sem qualquer forma de abuso ou negligência, e que a pessoa com TEA tenha o apoio necessário para seu desenvolvimento e bem-estar.
        </P>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
