ion-content {
    --background: #ffffff; /* Cor de fundo do cabeçalho */
    --color: #92abff; /* Cor do texto no cabeçalho */
  }

  ion-toolbar {
    --background: #ffffff; /* Cor de fundo do cabeçalho */
    --color: #92abff; /* Cor do texto no cabeçalho */
  }
  