<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
    SINAIS DE ALERTA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instagram:</ion-title>
      <ion-title size="large">&#64;professor_henrique</ion-title>
      <ion-title size="large">&#64;teamomaesautistas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

