<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
    SOBRE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Accordion Group -->
  <ion-accordion-group [multiple]="true">
    <!-- Seção 1 -->
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Definição Básica</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          O que é: Transtorno do Espectro Autista (TEA) é uma condição de desenvolvimento neurológico que afeta a comunicação, comportamento e interação social.
        </p>
        <p>
          Espectro: Varia de leve a severo, com características e necessidades diferentes para cada pessoa.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Principais Características</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Déficits na comunicação: Dificuldade para iniciar ou manter conversas, Uso incomum de linguagem(repetições, tom monõtono, perda do foco, esquecer/perder objetos).
        </p>
        <p>
          Comportamento Repetitivos: Movimentos repetitivos(balançar mãos, girar objetos), rotinas rídas e resistência a mudanças.
        </p>
        <p>
          Interesses Restritos: Foco intenso em temas específicos(número, datas. tópicos únicos).
        </p>
        <p>
          Dificuldade na Interação Social: Problemas para entender espressões feciais ou tom de voz, pouco interesse em interagir com outras pessoas.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 3 -->
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Causas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          genétia: fatores hereditários e mutações genéticas.
        </p>
        <p>
          Ambiente: Exposição a certos fatores ambientais durante a gravidez.
        </p>
        <p>
          não é causado por vacinas: este mito já foi amplamente desmentido pela ciência.
        </p>
      </div>
    </ion-accordion>

    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-label>Diagnóstico</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Profissionais Envolvidos: Psiquiatras, psicólogos e neuropediatras.
        </p>
        <p>
          Idade Média: Pode ser diagnosticado a partir dos 2 anos, mas pode ocorrer mais tarde.
        </p>
        <p>
          critérios: Avaliações baseada no Manual Diagnóstico e Estatístico de Transtornos Mentais (DSM-5).
        </p>
      </div>
    </ion-accordion>

    <ion-accordion value="5">
      <ion-item slot="header">
        <ion-label>Tratamento e Terapias</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          SEM CURA, Mas com Manejo Eficaz!!!
        </p>
        <p>
          ABA(Análise do Comportamento Aplicado): Terapia comportamental.
        </p>
        <p>
          Fonoaudiologia: Melhora comunicação verbal e não-verbal.
        </p>
        <p>
          Terapia Ocupacional: Desenvolve habilidades motoras e vida diária.
        </p>
        <p>
          Medicação: Para sintomas como ansiedade, irritabilidade ou hiperatividade.
        </p>
      </div>
    </ion-accordion>

 
  </ion-accordion-group>
</ion-content>
