<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
    SINAIS DE ALERTA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Accordion Group -->
  <ion-accordion-group [multiple]="true">
    <!-- Seção 1 -->
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Sinais de Alerta em Bebês e crianças pequenas(0-2 anos)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Falta de contato visual: A criança evita olhar nos olhos dos outros e pode não responder quando chamada pelo nome.
        </p>
        <p>
          Dificuldade em responder a interações sociais: Não sorri ou responde de maneira limitada a interações sociais, como quando alguém sorri ou faz uma careta.
        </p>
        <p>
          Pouco interesse por brincar com outras crianças: Prefere brincar sozinha e tem pouca ou nenhuma interação com outras crianças.
        </p>
        <p>
          Falta de gestos ou apontar: Não aponta para objetos ou pessoas (uma habilidade importante para a comunicação não verbal).
        </p>
        <p>
          Desinteresse por objetos comuns: Mostra pouco interesse por brinquedos ou objetos de uso cotidiano, mesmo aqueles com os quais crianças pequenas normalmente se divertem.
        </p>
        <p>
          Repetição de movimentos ou comportamentos: Movimentos repetitivos, como balançar o corpo, bater as mãos ou girar objetos, são comuns.
        </p>
        <p>
          Pouca resposta ao nome: Não responde quando chamada pelo nome, o que pode ser um sinal de dificuldade na comunicação.
        </p>
        <p>
          Dificuldade em imitar: Não imita expressões faciais, sons ou ações de outros, uma habilidade importante para o aprendizado social.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Sinais de Alerta em Crianças de 2 a 5 anos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Dificuldade de fala ou atraso na linguagem: A criança pode não desenvolver a fala ou ter uma fala muito limitada para a sua idade.
        </p>
        <p>
          Falta de reciprocidade social: Pode não mostrar interesse em brincar com outras crianças, ou se envolver de forma inadequada nas brincadeiras (por exemplo, brincando de maneira solitária ou sem interação com outros).
        </p>
        <p>
          Dificuldade em entender ou usar linguagem corporal: Pode ter dificuldades para entender expressões faciais ou gestos, como um sorriso ou um gesto de aprovação.
        </p>
        <p>
          Respostas inusitadas a estímulos sensoriais: A criança pode ser extremamente sensível a sons, luzes, texturas ou cheiros (hiper ou hipossensibilidade).
        </p>
        <p>
          Interesse restrito e repetitivo por certos objetos ou atividades: Pode ter um foco muito intenso e restrito em um determinado objeto ou atividade, como mexer repetidamente em um brinquedo ou explorar o mesmo assunto de maneira obsessiva.
        </p>
        <p>
          Comportamentos repetitivos e rituais: Pode realizar ações repetitivas, como bater as mãos, balançar o corpo, alinhar objetos ou ter rotinas muito fixas e incomodadas se algo mudar.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 3 -->
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Sinais de Alerta em Crianças mais velhas(ACimda de 5 anos)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Dificuldades na interação social: Dificuldade em fazer amigos, em entender piadas ou em compartilhar interesses com os outros.
        </p>
        <p>
          Dificuldade em compreender normas sociais: A criança pode não entender conceitos como turnos de conversa, como fazer perguntas adequadas ou como interpretar uma conversa.
        </p>
        <p>
          Comportamentos repetitivos e fixação em tópicos específicos: Crianças autistas podem ter interesses intensos em tópicos específicos e falar sobre isso de forma repetitiva, sem perceber que a outra pessoa pode não estar interessada.
        </p>
        <p>
          Problemas com expressões faciais e linguagem corporal: Pode ter dificuldade em interpretar ou expressar emoções, o que torna difícil para elas entenderem as emoções dos outros.
        </p>
        <p>
          Respostas inadequadas às emoções: A criança pode não reagir de maneira esperada em situações emocionais, por exemplo, não chorar quando magoada ou não demonstrar empatia ao ver alguém triste.
        </p>
        <p>
          Dificuldade de transições ou mudanças: A criança pode demonstrar angústia ou irritação quando há mudanças na rotina, como mudanças de horários, lugares ou pessoas.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-label>Comportamento sensoriais</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Sensibilidade extrema a estímulos: Como sons altos, luzes fortes, texturas e até certos alimentos, roupas ou cheiros. Alguns autistas têm uma reação intensa, como tapar os ouvidos ou ficar sobrecarregados com estímulos sensoriais.
        </p>
        <p>
          Busca excessiva por estímulos sensoriais: Alguns podem demonstrar uma busca por sensações táteis, como pressionar os objetos contra o corpo, girar, balançar ou morder.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="5">
      <ion-item slot="header">
        <ion-label>Comportamento Compulsios e Repetitivos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Movimentos repetitivos: Como balançar o corpo, bater as mãos ou bater objetos.
        </p>
        <p>
          Comportamento ritualístico: Necessidade de seguir uma rotina muito rígida ou ficar agitado quando a rotina é interrompida.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="6">
      <ion-item slot="header">
        <ion-label>Dificuldade em Compreender Condeitos Abstratos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Descrição: Crianças com autismo podem ter dificuldades em compreender conceitos mais abstratos, como entender o que são metáforas ou piadas. Elas podem tomar tudo ao pé da letra, e isso pode gerar confusão ao tentar compreender as interações sociais ou as expressões verbais.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="7">
      <ion-item slot="header">
        <ion-label>Problemas com habilidades de Comunicação Não-Verbal</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Descrição: Além da fala, a comunicação não-verbal (como gestos, expressões faciais, contato visual e postura corporal) pode ser prejudicada em crianças com autismo. Elas podem não utilizar gestos para se expressar ou entender os gestos de outras pessoas. Por exemplo, uma criança pode não acenar "adeus" ou não perceber um sorriso de outro como um sinal de simpatia.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="8">
      <ion-item slot="header">
        <ion-label>Dificuldade de Imitação</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Descrição: A habilidade de imitar ações e sons é crucial no desenvolvimento infantil, mas muitas crianças com autismo têm dificuldades em imitar. Elas podem não imitar um adulto ou uma criança durante atividades de brincadeiras, como imitar um gesto ou uma palavra. Isso pode afetar o aprendizado e a socialização.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="9">
      <ion-item slot="header">
        <ion-label>Problemas com a Coordenação mototra</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Descrição: Algumas crianças com autismo apresentam dificuldades na coordenação motora grossa (como correr ou pular) e na coordenação motora fina (como usar talheres ou escrever). Isso pode ser um sinal de que a criança tem dificuldades motoras além das dificuldades de socialização e comunicação.
        </p>
      </div>
    </ion-accordion>

    <!-- Seção 2 -->
    <ion-accordion value="10">
      <ion-item slot="header">
        <ion-label>Respostas Intensa ao Estresse ou Ansiedade</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Descrição: Crianças com autismo podem reagir de forma exagerada ou inesperada a situações estressantes ou que causam ansiedade. Elas podem ter episódios de frustração intensos, como crises de choro, agressividade ou comportamentos de fuga, especialmente em situações novas ou quando sua rotina é alterada. Isso é muitas vezes associado à dificuldade em lidar com mudanças ou à sobrecarga sensorial.
        </p>
      </div>
    </ion-accordion>

  </ion-accordion-group>
</ion-content>
